@charset "UTF-8";

body {
    background-color: rgb(186, 228, 228);
}

h1 {
    color: rgb(41, 82, 82);
}

#principal {
    text-align: center;
    color: black;
}

h2 {
    color: rgb(52, 160, 160);
}

p {
    text-indent: 20px;
    text-align: justify;
}

.Basico {
    color: green;
}

.intermediario {
    color: rgb(208, 208, 35);
}

.avançado {
    color: red;
}